<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
    <button ion-button (click)="showData()">Post Data</button>
    <!-- <ion-card class="test" *ngFor="let item of items">
      {{test.id}}
    </ion-card> -->
  </div>
</ion-content>
